*{
    margin: 0;
    padding: 0;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.choice{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;

}

.choice:hover{
    cursor: pointer;
    opacity: 0.3;
    background-color: #081b31;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
 border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
    
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font: 4rem;

}


#msg{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
   
    /* margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center; */
    /* display: inline; */
    
}

.msg-container{
    margin-top: 5rem;
}